{{page-title "EmberWormholeInspectorDemo"}}
<div id="wormhole-target"></div>

<LinkTo @route="ember-wormhole">View ember-wormhole demo</LinkTo>
<LinkTo @route="in-element">View in-element demo</LinkTo>

{{outlet}}
